---
layout: default
title: About
---
{% include second-header.html%}   
<br>
<br>
{% include headanime.html %}
<div class="about-ps4" id="blurb">






  <h2>Get to know the souls in the Land of the dead...</h2>
  <p>The souls in the Land of the Dead appear as skeletal calaca figures. Alongside them are demons that have been summoned to help with the more mundane tasks of day-to-day life, such as vehicle maintenance. The souls themselves can suffer death-within-death by being "sprouted", the result of being shot with "sproutella"-filled darts that cause flowers to grow out through the bones. Many of the characters are Mexican and occasional Spanish words are interspersed into the English dialog, resulting in Spanglish. Many of the characters smoke, following a film noir tradition; the manual asks players to consider that every smoker in the game is dead.</p>
</div>

<div class="card-box"> 
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="/assets/img/Sal.png" alt="Avatar" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h1>Manuel "Manny" Calavera</h1>
                <p>Manuel Calavera, is the protagonist, and only playable character in Grim Fandango.</p>
              </div>
            </div>
         
          </div>
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="/assets/img/Glottis.jpg" alt="Avatar" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h1>Glottis</h1>
                <p>Glottis is an Elemental and Manny's sidekick throughout the duration of the game. He is first seen in his hut in the DOD garage.</p>
              </div>
            </div>
          </div>

          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="/assets/img/Olivia.jpg" alt="Avatar" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h1>Olivia Ofrenda</h1>
                <p>Olivia Ofrenda is a minor character in the 1998 LucasArts adventure game Grim Fandango. She is the proprietor of the Blue Casket, an ultra-hip nightclub in Rubacava that is typically frequented by groups of poetry-spouting beatniks.</p>
              </div>
            </div>
          </div>
          <br>
          <br>

          

           <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="/assets/img/Lola.jpg" alt="Avatar" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h1>Lola</h1>
                <p>Blabla</p>
              </div>
            </div>
          </div>
           
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="/assets/img/hector.jpg" alt="Avatar" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h1>Hector LeMans</h1>
                <p>Hector LeMans, crime lord of El Marrow, is the game's primary antagonist and the head of the counterfeit Number Nine ticket scam.</p>
              </div>
            </div>
          </div>
          </div>