---
layout: default
title: home
---
<header class="header-main" style="background-image:url('{{ site.baseurl }}/assets/img/hero7.jpg')">
    <div class="overlay-light"></div>
{% include nav.html %}    

<!--
<div class="home-title">
    <h1>{{ site.title }}</h1>
<h3> Are you ready to play? </h3>
</div>
-->
<a href="#blurb" class="home-avatar"></div>

</header>
<!-- About -->
<div class="about-ps4" id="blurb">
    <h2>About the release</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat esse possimus voluptas officiis quidem! Perspiciatis, nihil porro fugit libero, sunt, totam tempora asperiores esse non velit ea accusantium architecto a.</p>
</div>

<hr />
<br>
<br>
<h2 class="new-features"> Some new features  </h2>
<div class="new-features-content-wrapper">
<div class="feature-wrap">
    <div class="feature">
            <div class="feature-image"></div>
            <a href ="" target="_blank" class="feature-text"></a>
            <h4>Feature title</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga optio obcaecati dicta sequi amet asperiores sunt quae, officiis molestiae eaque accusantium praesentium possimus corrupti velit aperiam ducimus excepturi error cupiditate.</p>
    </div>
</div>
<div class="feature-wrap">
    <div class="feature">
<div class="feature-image"></div>
<a href ="" target="_blank" class="feature-text"></a>
<h4>Feature title</h4>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga optio obcaecati dicta sequi amet asperiores sunt quae, officiis molestiae eaque accusantium praesentium possimus corrupti velit aperiam ducimus excepturi error cupiditate.</p>
    </div></div>
<div class="feature-wrap">
    <div class="feature">
            <div class="feature-image"></div>
            <a href ="" target="_blank" class="feature-text"></a>
            <h4>Feature title</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga optio obcaecati dicta sequi amet asperiores sunt quae, officiis molestiae eaque accusantium praesentium possimus corrupti velit aperiam ducimus excepturi error cupiditate.</p>
    </div></div>
<div class="feature-wrap">
    <div class="feature">
            <div class="feature-image"></div>
            <a href ="" target="_blank" class="feature-text"></a>
            <h4>Feature title</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga optio obcaecati dicta sequi amet asperiores sunt quae, officiis molestiae eaque accusantium praesentium possimus corrupti velit aperiam ducimus excepturi error cupiditate.</p>
    </div></div>
</div>

<hr />

<!-- Some new features -->



{% include footer.html %}