---
layout: default
title: walkthrough
---
{% include fourth-header.html %}  


<div class="walkthrough-content">

       <h2>WALKTHROUGH</h2>

       <p>OK, nobody said that getting through Grim Fandango would be easy. That’d be like getting the most delicious steak in the world and expecting it to be straightforward to chew. What, you don’t like well-done steak? Well, we can’t all be perfect.</p>
       <p>Check out our walkthrough below if you’re a bit stuck and need a helping hand, kindly contributed by Huz. If you’re just looking for hints, you might also wish to consider the Universal Hint System.</p>

       <h3>El Marrow</h3>

       <div class="anime">
              <img src="/assets/img/walkthrough1.png" class="walkthrough-img-right shake-me" alt="img">
       </div>

       <p> You begin this epic adventure in Manny’s office. Walk over to the message tube and pick up the message there. Pick up the deck of cards from the table, and leave the room.
           Walk to the end of the corridor to encounter Eva, the secretary. Speak to her if you like, then use the deck of cards with the hole-punch. Walk towards the lifts, and use the one on the left-hand side of the screen.    
       <p> Walk to the back of the garage and knock on the door of the metal hut to encounter Glottis. Talk to him until you get onto the subject of a driver – tell him you need one, and he should be your driver. He’s not too big – the cars are too small. You will receive a work order.  
       <p> Go back to the upper lobby, and go down the other lift. Walk out of the large double doors. Walk towards the festival to encounter to sarcastic clown.Speak to him, and ask for two dead worms and a cat. Get some bread from the stall next to him.    
       <p> Walk down the alley to the left until you come to the rope of ties. Climb up, and open the window of your boss. Change the auto-response on his computer to “Ah, cripes, Eva! Just sign it yourself, will you?”. Go back to Eva and try to get the work order signed.     
       <p> Walk into the garage to be taken to the Land of the Living. Use your scythe with the parcel to find a grumpy little man inside. After he has been sent “packing” (sorry), go back down to the lobby. Find the room with the two chemicals, and put one of the chemicals inside each deflated balloon. Go up to Manny’s office and use these balloons on his message tube to mess up the server.
       <p> Go to the room containing the server, and pick up the fire extinguisher from the wall. Set the bolt on the door, and leave. When the maintenance guy has left, go back in and open the door. Use your punched card with the red message tube to get your first good client.
        
              
       <img src="/assets/img/walkthrough2.png" class="walkthrough-img-left" id="pop-up" alt="img">

       
       <p>  After being slightly confused, leave your office and walk towards Eva. You find yourself locked in the hut in the garage. Knock on the door, and tell the bloke that you want to get out and expose the DoD.   
       <p> Once Salvador has introduced you to the LSA, talk to him until you get onto the subject of the eggs. Leave the building via the lift. 
       <p> Climb the rope of ties, but this time walk around the corner, and enter the office of Domino Hurley through the window. Open his desk drawers to find a lump of coral, and hit his punch-bag until a gum-shield falls down. Pick up both of these objects.   
       <p>  Back on the ledge, use the coral on the loose end of the rope made of ties. Throw the rope, and climb across.
       <p> On the roof, you need to use the balloon in the roof-dish, and then use the bread on top of this. Watch those birds run! Then steal their eggs. You nasty person.     
       <p> Go to the shack in the garage, and use the Fill-O-Dent with the gum-shield. Use the gum-shield by itself to get an impression of your teeth. Walk to the alley, and Use the eye on the wall to get back to the LSA HQ. Give the eggs to Salvador and the gum-shield to Eva. You’re then escorted out of the city, and on with your quest.</p>
       
       <h3>The Petrified Forest</h3>

       <img src="/assets/img/walkthrough3.png" class="walkthrough-img-right" id="fade-animation" alt="img">

       <p>Walk to the front of the screen to find Glottis sobbing his heart out. Literally. Follow it, and pick up a bone from the pile. Use the bone in the web, and then use your scythe on the bone. Go back to Glottis, and put his heart back in.</p>
       <p>At the tree with the pumps, you need to topple the tree. To achieve this, you must ensure that the two pumps on both sides are working together, and both sides are alternating their movement. To alter the time the pumps operate, use the wheel-barrow to block some of the air-tubes. When you have achieved this, switch off the pumps. Wait for Glottis to climb up, and then switch the pumps back on again. The tree will tip over.</p>
       <p>You can now go to the North on the other screen. Go through the small door in the huge gate, and pick up a bone from the bridge. Walk to the left, and throw the bone into the tar. Take out your fire extinguisher, and point it at the spot the bone sank. Hold the “Use” button to keep the extinguisher flowing. The flaming beaver should be put out, and it will die. Repeat this process until all the beavers are dead.</p>
       <p>Return to Glottis, and drive back to the signpost (where Glottis ripped his heart out). Run it over with the bone-wagon.</p>
       <p>Pick it up, and run to the left. Place the sign in the centre of the labyrinth and watch where it points. Pick it up, take it slightly in this direction, and then put it down again. Repeat this until a secret tunnel opens.</p>
       <p>Walk down the tunnel and pick up the spooky key. Return to Glottis – you can now drive out of the forest.</p>
</div>

{% include headanime.html %}

<div class="space"></div>

<script src="/anime.min.js"></script>
<script src="/assets/js/functions.js"></script>