

.buy-now-box
    background-color: $div-background
    width: 70vw
    display: flex
    justify-content: space-between
    height: 600px
    margin: 0 auto
    z-index: 1000
    border: 2px solid $frame-color
    padding: 40px
.gameimg
    width: 200px
    height: 200px
    margin-left: 40px
.gameimgzoom
    width: 1000px
    position: absolute
    transform: scale(0)
.gameimg:hover + .gameimgzoom
    transform: scale(1)
    transition: transform 0.3s linear 0s
    -webkit-transition: transform 0.3s linear 0s
    z-index: 10s    
