<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./assets/js/functions.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js"></script>
</head>
<body>
    
<div class="container">
      
      
</div>
    <div class="section">
        
            <div id="GrimAnime" class="GrimAnime"></div>
                <img id="earth" src="./assets/img/grim-fandango-remastered-icon.png" alt="GrimFan">
            </div>
    
       
  </div>
</body>
</html>